@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horisontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin scale($multipler) {
  -webkit-transform: scale($multipler);
  -moz-transform: scale($multipler);
  transform: scale($multipler);
}

//MEIDA QUERIES
/*
0 - 600 px - Phone
600 - 900px  - Tablet Portrait
900 - 1200px - Tablet landscape
1200 - 1800px - Normal styles
1800px ++  Big Desktops
*/
